<div id="about" class="box">
    <div class="container">
        <div class="header">
            <div class="special-title">
                <nav>
                    <h2>
                        <a href="#about">
                            <img class="img1" src="images/nosotros-A.png"/>
                            <img class="img2" src="images/nosotros-B.png"/>
                        </a>
                    </h2>
                </nav>
            </div>
            <div class="desc invisible">
                <h3 class="white">
                    Tratamos de hacer felices simultáneamente a todos las
                    personas que intervienen el desarrollo de software (usuario, negocio, stakeholders, equipo, etc.).
                </h3>
            </div>
        </div>
        <div class="content invisible">
            <div class="four spacing"></div>
            <div class="row">
                <div class="large-12 columns">
                    <div class="section-title">
                        <h2><span>Nosotros</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <div class="section-intro">
                        Acompañamos a nuestros clientes para ayudarles alcanzar continuamente sus objetivos de negocio alineando negocio y parte técnica. Esto lo hacemos construyendo software bien hecho (especialmente aplicaciones web y móvil), de calidad y mantenible y ayudando los a equipos de desarrollo a mejorar su entrega continua de software a través de aplicar prácticas agile/extreme programming.
                        Nuestro reto es encontrar la mejor solución posible en cada nuevo proyecto, dándole vuelta y media, 540º.
                    </div>
                </div>
            </div>
            <div class="three spacing"></div>
            <div class="row">
                <div class="large-4 columns">
                    <div class="member">
                        <img src="images/gorka.jpeg" alt="">

                        <h4>Gorka Moreno</h4>

                        <p class='position'>Desarrollador</p>
                        <ul>
                            <li>
                                <a href="https://twitter.com/gorkma" target="_blank"><i class='fa fa-twitter'></i></a>
                            </li>
                            <li>
                                <a href="https://es.linkedin.com/in/gorkma" target="_blank"><i
                                            class='fa fa-linkedin'></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/gorkma" target="_blank"><i
                                            class='fa fa-github'></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="large-4 columns">
                    <div class="member">
                        <img src="images/pablo.jpg" alt="">

                        <h4>Pablo Albizu</h4>

                        <p class='position'>Engineering manager</p>
                        <ul>
                            <li>
                                <a href="https://twitter.com/pabloalbizu" target="_blank"><i class='fa fa-twitter'></i></a>
                            </li>
                            <li>
                                <a href="https://es.linkedin.com/in/pabloalbizubalerdi" target="_blank"><i
                                            class='fa fa-linkedin'></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/pabloalbizu" target="_blank"><i
                                            class='fa fa-github'></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="large-4 columns">
                    <div class="member">
                        <img src="images/iker.jpg" alt="">
                        <img class='colored' src="images/iker.jpg" alt="">

                        <h4>Iker Mariñelarena</h4>

                        <p class='position'>Engineering manager</p>
                        <ul>
                            <li>
                                <a href="https://twitter.com/wricka69" target="_blank"><i class='fa fa-twitter'></i></a>
                            </li>
                            <li>
                                <a href="https://es.linkedin.com/pub/iker-mari%C3%B1elarena/74/356/ab4/en"
                                   target="_blank"><i class='fa fa-linkedin'></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/icka69" target="_blank"><i class='fa fa-github'></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="large-4 columns">
                    <div class="member">
                        <img src="images/mikel_ros.jpg" alt="">

                        <h4>Mikel Ros</h4>

                        <p class='position'>Desarrollador</p>
                        <ul>
                            <li>
                                <a href="https://twitter.com/mikelros_" target="_blank"><i class='fa fa-twitter'></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/mikelros/" target="_blank"><i
                                            class='fa fa-linkedin'></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/mikelros" target="_blank"><i
                                            class='fa fa-github'></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="large-4 columns">
                    <div class="member">
                        <img src="images/javier_gutierrez.jpg" alt="">

                        <h4>Javier Gutiérrez</h4>

                        <p class='position'>Desarrollador</p>
                        <ul>
                            <li>
                                <a href="https://twitter.com/javi_gut95" target="_blank"><i class='fa fa-twitter'></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/javier-guti%C3%A9rrez-fern%C3%A1ndez-a7429a153/" target="_blank"><i
                                            class='fa fa-linkedin'></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/javigutierrezfer" target="_blank"><i
                                            class='fa fa-github'></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="large-4 columns">
                    <div class="member">
                        <img src="images/esther_elizagaray.jpeg" alt="">

                        <h4>Esther Elizagaray</h4>

                        <p class='position'>Desarrolladora</p>
                        <ul>
                            <li>
                                <a href="https://twitter.com/calamito_" target="_blank"><i class='fa fa-twitter'></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/esther-elizagaray-bezunartea-071aa2136/"
                                   target="_blank"><i class='fa fa-linkedin'></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/estherelizagaray" target="_blank"><i class='fa fa-github'></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="large-4 columns">
                    <div class="member">
                        <img src="images/irati_casi.jpg" alt="">

                        <h4>Irati Casi</h4>

                        <p class='position'>Desarrolladora</p>
                        <ul>
                            <li>
                                <a href="https://twitter.com/iraticasi" target="_blank"><i class='fa fa-twitter'></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/iraticasi/" target="_blank"><i
                                            class='fa fa-linkedin'></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/iraticasi" target="_blank"><i
                                            class='fa fa-github'></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="large-4 columns">
                    <div class="member">
                        <img src="images/javier_muruzabal.jpg" alt="">

                        <h4>Javier Muruzabal</h4>

                        <p class='position'>Desarrollador</p>
                        <ul>
                            <li>
                                <a href="https://www.linkedin.com/in/javier-muruzabal/" target="_blank"><i
                                            class='fa fa-linkedin'></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/JaviMuru" target="_blank"><i
                                            class='fa fa-github'></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="large-4 columns">
                    <div class="member">
                        <img src="images/sabina_hurtado.jpeg" alt="">

                        <h4>Sabina Hurtado</h4>

                        <p class='position'>Desarrolladora</p>
                        <ul>
                            <li>
                                <a href="https://twitter.com/SabinaHurtado" target="_blank"><i class='fa fa-twitter'></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/sabina-hurtado-vaquerizo/"
                                   target="_blank"><i class='fa fa-linkedin'></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/saaaab1213" target="_blank"><i class='fa fa-github'></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="four spacing"></div>
            <div class="row">
                <div class="large-12 columns">
                    <div class="section-title">
                        <h2><span>Nuestros valores</span></h2>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='large-4 columns'>
                    <div class='moveup' data-delay='0'>
                        <div class='icon-text-diamond'>
                            <div class='wrapper'>
                                <div class='content'>
                                    <i class='fa fa-thumbs-o-up'></i>
                                </div>
                            </div>
                            <h3>Calidad</h3>

                            <p>Tenemos un plan: hacer las cosas bien. La calidad y el detalle son nuestro principal
                                argumento y fortaleza. Aseguramos la calidad del software con buenas prácticas de
                                programación (Clean code), TDD, pair programming, code reviews e integración
                                continua.</p>
                        </div>
                        <div class='two spacing'></div>
                    </div>
                </div>
                <div class='large-4 columns'>
                    <div class='moveup' data-delay='25'>
                        <div class='icon-text-diamond'>
                            <div class='wrapper'>
                                <div class='content'>
                                    <i class='fa fa-line-chart'></i>
                                </div>
                            </div>
                            <h3>Mejora continua</h3>

                            <p>Una forma de hacer las cosas bien es buena hasta que encuentras una forma mejor. Tratamos
                                de
                                dominar las herramientas y las técnicas que utilizamos. Disfrutamos esforzándonos y
                                dando lo
                                mejor de nosotros mismos, practicando, aprendiendo y compartiendo constantemente.</p>
                        </div>
                        <div class='two spacing'></div>
                    </div>
                </div>
                <div class='large-4 columns'>
                    <div class='moveup' data-delay='50'>
                        <div class='icon-text-diamond'>
                            <div class='wrapper'>
                                <div class='content'>
                                    <i class='fa fa-heartbeat'></i>
                                </div>
                            </div>
                            <h3>Pasión</h3>

                            <p>Una persona con pasión es mucho mejor que cuarenta interesadas solamente. El desarrollo
                                de
                                Software es más que un trabajo para nosotros. Es nuestra pasión. Estamos orgullosos de
                                lo
                                que hacemos y tratamos de mejorar día a día.</p>
                        </div>
                        <div class='two spacing'></div>
                    </div>
                </div>
            </div>

            <div class="four spacing"></div>
            <div class="row">
                <div class="large-12 columns">
                    <div class="section-title">
                        <h2><span>Lo que dicen de nosotros</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='mod testimonials'>
                    <div class='items'>
                        <div class='item'>
                            <div class="large-8 columns no-padding">
                                <p class='quote'><i class='fa fa-quote-left'></i>Gorka, Pablo e Iker forman un equipo
                                    que destaca por su eficiencia, por estar siempre al día en lo referente a la
                                    tecnología, por su optimismo y por sus propuestas creativas, demostrando ser
                                    brillantes en su trabajo."
                                </p>
                            </div>
                            <div class="large-4 columns no-padding no-overflow">
                                <div class='author'>
                                    <p class='author-avatar'>
                                        <img width="80" height="80" alt="" src="images/testimonials_ikerfernandez.jpg"/>
                                    </p>
                                    <p class='author-name'>
                                        <strong>
                                            Iker Fernandez
                                        </strong>
                                    </p>
                                    <p>
                                        Diseñador gráfico en <a href="http://www.ikerfernandez.com" target="_blank">www.ikerfernandez.com</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class='item'>
                            <div class="large-8 columns no-padding">
                                <p class='quote'><i class='fa fa-quote-left'></i>El equipo de 540 está formado por
                                    personas
                                    apasionadas por su trabajo, con un gran espiritu de constante superación. Gente
                                    comprometida con la que da gusto trabajar, voluntariosos y ademas son simpaticos!"
                                </p>
                            </div>
                            <div class="large-4 columns no-padding">
                                <div class='author'>
                                    <p class='author-avatar'>
                                        <img width="80" height="80" alt="" src="images/testimonials_carlosble.jpg"/>
                                    </p>
                                    <p class='author-name'>
                                        <strong>
                                            Carlos Ble
                                        </strong>
                                    </p>
                                    Independent professional, consultant and developer<br/>
                                    <a href="http://www.carlosble.com" target="_blank">www.carlosble.com</a>
                                    <p></p>
                                </div>
                            </div>
                        </div>

                        <div class='item'>
                            <div class="large-8 columns no-padding">
                                <p class='quote'><i class='fa fa-quote-left'></i>540 combina con gran acierto la
                                    juventud,
                                    pasión y frescura necesarios para trabajar en el mundo digital, con la madurez,
                                    responsabilidad y compromiso que requiere la prestación de servicios a empresas."
                                </p>
                            </div>
                            <div class="large-4 columns no-padding">
                                <div class='author'>
                                    <p class='author-avatar'>
                                        <img width="80" height="80" alt="" src="images/testimonials_diego.jpg"/>
                                    </p>
                                    <p class='author-name'>
                                        <strong>
                                            Diego Cenzano
                                        </strong>
                                    </p>
                                    Director general en Biko2<br/>
                                    <a href="http://www.biko2.com" target="_blank">www.biko2.com</a>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class='item'>
                            <div class="large-8 columns no-padding">
                                <p class='quote'><i class='fa fa-quote-left'></i>Trabajar con 540 es hacerlo con un
                                    equipo joven y muy bien preparado. Contar con ellos es saber que tu proyecto
                                    superará todas las barreras tecnológicas a las que quieras enfrentarte."
                                </p>
                            </div>
                            <div class="large-4 columns no-padding">
                                <div class='author'>
                                    <p class='author-avatar'>
                                        <img width="80" height="80" alt="" src="images/testimonials_fran.jpg"/>
                                    </p>
                                    <p class='author-name'>
                                        <strong>
                                            Fran Naranjo
                                        </strong>
                                    </p>
                                    Co-Founder & CTO at Quomai<br/>
                                    <a href="http://quomai.com" target="_blank">quomai.com</a>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class='item'>
                            <div class="large-8 columns no-padding">
                                <p class='quote'><i class='fa fa-quote-left'></i>El artesano respeta su trabajo, sus
                                    técnicas y sus herramientas. En 540 quieren y están consiguiendo ser artesanos del
                                    software. Están poniendo el foco en hacer software de calidad, entregando valor y
                                    haciéndolo con gusto y de forma apasionada."
                                </p>
                            </div>
                            <div class="large-4 columns no-padding">
                                <div class='author'>
                                    <p class='author-avatar'>
                                        <img width="80" height="80" alt="" src="images/testimonials_karlos.jpg"/>
                                    </p>
                                    <p class='author-name'>
                                        <strong>
                                            Karlos G Liberal
                                        </strong>
                                    </p>
                                    Artesano web en <a href="http://interzonas.info" target="_blank">interzonas.info</a>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="four spacing"></div>
            <div class="studio-images full no-overflow no-padding">
                <div class="large-4 columns no-padding">
                    <img src="images/instalaciones-A.jpg" alt="">
                </div>
                <div class="large-4 columns no-padding">
                    <img src="images/instalaciones-B.jpg" alt="">
                </div>
                <div class="large-4 columns no-padding">
                    <img src="images/instalaciones-D.jpg" alt="">
                </div>
            </div>

            {% include "lets_talk.twig" %}

        </div>
    </div>
</div>
