<div id="about" class="box">
    <div class="header">
        <div class="special-title">
            <nav>
                <h2 class='top'>
                    <a href="#">
                        <img class="img1" src="images/nosotros-A.png" />
                        <img class="img2" src="images/nosotros-B.png" />
                    </a>
                </h2>
            </nav>
        </div>
        <div class="desc invisible">
            <h2>
                Somos un equipo de desarrolladores joven, con el reto de encontrar la mejor solución para cada proyecto, dándole vuelta y media, 540º.
            </h2>
        </div>
    </div>
    <div class="content invisible">
        <div class="four spacing"></div>
        <div class="row">
            <div class="large-12 columns">
                <div class="section-title">
                    <h2><span>Nosotros</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <div class="section-intro">
                    Somos Gorka, Pablo e Iker, y formamos un equipo de artesanos del software apasionado por su trabajo y comprometido con los valores del agilismo.
                    Por ello nos gusta ser flexibles y adaptarnos a las necesidades particulares de nuestros clientes, creando respuestas en colaboración con ellos y generando asociaciones productivas.
                </div>
            </div>
        </div>
        <div class="three spacing"></div>
        <div class="row">
            <div class="large-4 columns">
                <div class="member">
                    <img src="images/member-3.jpg" alt="">
                    <img class='colored' src="images/member-3-c.jpg" alt="">
                    <div class="letter-overlay">G</div>
                    <h4>Gorka Moreno</h4>
                    <p class='position'>Desarrollador</p>
                    <ul>
                        <li><a href="https://twitter.com/gorkma" target="_blank"><i class='fa fa-twitter'></i></a></li>
                        <li><a href="https://es.linkedin.com/in/gorkma" target="_blank"><i class='fa fa-linkedin'></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="member">
                    <img src="images/member-2.jpg" alt="">
                    <img class='colored' src="images/member-2-c.jpg" alt="">
                    <div class="letter-overlay">P</div>
                    <h4>Pablo Albizu</h4>
                    <p class='position'>Desarrollador</p>
                    <ul>
                        <li><a href="https://twitter.com/pabloalbizu" target="_blank"><i class='fa fa-twitter'></i></a></li>
                        <li><a href="https://es.linkedin.com/in/pabloalbizubalerdi" target="_blank"><i class='fa fa-linkedin'></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="member">
                    <img src="images/member-1.jpg" alt="">
                    <img class='colored' src="images/member-1-c.jpg" alt="">
                    <div class="letter-overlay">I</div>
                    <h4>Iker Mariñelarena</h4>
                    <p class='position'>Desarrollador</p>
                    <ul>
                        <li><a href="https://twitter.com/wricka69" target="_blank"><i class='fa fa-twitter'></i></a></li>
                        <li><a href="https://es.linkedin.com/pub/iker-mari%C3%B1elarena/74/356/ab4/en" target="_blank"><i class='fa fa-linkedin'></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="four spacing"></div>
        <div class="row">
            <div class="large-12 columns">
                <div class="section-title">
                    <h2><span>Nuestros valores</span></h2>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='large-4 columns'>
                <div class='moveup' data-delay='0'>
                    <div class='icon-text-diamond'>
                        <div class='wrapper'>
                            <div class='content'>
                                <i class='fa fa-thumbs-o-up'></i>
                            </div>
                        </div>
                        <h3>Calidad</h3>
                        <p>Tenemos un plan: hacer las cosas bien. La calidad y el detalle son nuestro principal argumento y fortaleza. Aseguramos la calidad del software con buenas prácticas de programación (Clean code), TDD, pair programming, code reviews e integración continua.</p>
                    </div>
                    <div class='two spacing'></div>
                </div>
            </div>
            <div class='large-4 columns'>
                <div class='moveup' data-delay='25'>
                    <div class='icon-text-diamond'>
                        <div class='wrapper'>
                            <div class='content'>
                                <i class='fa fa-line-chart'></i>
                            </div>
                        </div>
                        <h3>Mejora continúa</h3>
                        <p>Una forma de hacer las cosas bien es buena hasta que encuentras una forma mejor. Tratamos de dominar las herramientas y las técnicas que utilizamos. Disfrutamos esforzándonos y dando lo mejor de nosotros mismos, practicando, aprendiendo y compartiendo constantemente.</p>
                    </div>
                    <div class='two spacing'></div>
                </div>
            </div>
            <div class='large-4 columns'>
                <div class='moveup' data-delay='50'>
                    <div class='icon-text-diamond'>
                        <div class='wrapper'>
                            <div class='content'>
                                <i class='fa fa-heartbeat'></i>
                            </div>
                        </div>
                        <h3>Pasión</h3>
                        <p>Trabaja en lo que te gusta y nunca más tendrás que trabajar. Nos gusta lo que hacemos y nos gusta disfrutar de nuestro trabajo. Por eso ponemos todo el cariño y dedicación en cada proyecto.</p>
                    </div>
                    <div class='two spacing'></div>
                </div>
            </div>
        </div>

        <div class="four spacing"></div>
        <div class="row">
            <div class="large-12 columns">
                <div class="section-title">
                    <h2><span>Lo que dicen de nosotros</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class='mod testimonials'>
                <div class='items'>
                    <div class='item'>
                        <div class="large-8 columns no-padding">
                            <p class='quote'><i class='fa fa-quote-left'></i>Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                                erat volutpat consectetuer sit amet magna adipiscing."</p>
                        </div>
                        <div class="large-4 columns no-padding no-overflow">
                            <div class='author'>
                                <p class='author-avatar'>
                                    <img width="80" height="80" alt="" src="images/author-avatar-1.png"/>
                                </p>

                                <p class='author-name'>
                                    <strong>
                                        Lily Moss
                                    </strong>
                                </p>

                                <p>
                                    Designer at Huglab
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='item'>
                        <div class="large-8 columns no-padding">
                            <p class='quote'><i class='fa fa-quote-left'></i>Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Repellat saepe facere necessitatibus soluta, perspiciatis aperiam non
                                et qui eaque tenetur neque quidem excepturi ipsum odit ducimus, temporibus nemo unde
                                blanditiis."</p>
                        </div>
                        <div class="large-4 columns no-padding">
                            <div class='author'>
                                <p class='author-avatar'>
                                    <img width="80" height="80" alt="" src="images/author-avatar-2.png"/>
                                </p>

                                <p class='author-name'>

                                    <strong>
                                        David White
                                    </strong>
                                </p>

                                <p> Designer at Huglab</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="four spacing"></div>
        <div class="row">
            <div class="large-12 columns">
                <div class="section-title">
                    <h2>Instalaciones</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-8 large-offset-2 columns end">
                <div class="section-intro">
                    Ven a vernos al invernadero donde cultivamos nuestras ideas y donde haremos crecer las tuyas juntos.
                </div>
            </div>
        </div>
        <div class="three spacing"></div>
        <div class="studio-images full no-overflow no-padding">
            <div class="large-4 columns no-padding">
                <img src="images/people.jpg" alt="">
            </div>
            <div class="large-4 columns no-padding">
                <img src="images/studio.jpg" alt="">
            </div>
            <div class="large-4 columns no-padding">
                <img src="images/studio-2.jpg" alt="">
            </div>
        </div>
        <div class="full centered-text grey">
            <div class="four spacing"></div>
            <div class="two spacing"></div>
            <h1>¿Tienes un proyecto en mente?</h1>
            <div class="spacing"></div>
            <a href="" class="button let-us-talk">Hablemos!</a>
            <div class="four spacing"></div>
            <div class="two spacing"></div>
        </div>

    </div>
</div>