<div id="blog" class="box">
    <div class="container">
        <div class="header">
            <div class="special-title">
                <nav>
                    <h2>
                        <a href="https://blog.540deg.com" target="_blank">
                            <img class="img1" src="images/blog-A.png"/>
                            <img class="img2" src="images/blog-B.png"/>
                        </a>
                    </h2>
                </nav>
            </div>
        </div>
    </div>
</div>