<div id="blog" class="box">
    <div class="header">
        <div class="special-title">
            <nav>
                <h2>
                    <a href="#">
                        <img class="img1" src="images/blog-A.png"/>
                        <img class="img2" src="images/blog-B.png"/>
                    </a>
                </h2>
            </nav>
        </div>
        <div class="desc invisible">
            <h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, officia ipsum eum. Illo pariatur
                sapiente laborum quis accusamus eius doloribus necessitatibus!
            </h2>
        </div>
    </div>
    <div class="content invisible">
        <div class="four spacing"></div>
        <div class="two spacing"></div>
        <div class='row'>
            <div class='large-12 columns'>
                <div class='post'>
                    <div class="image">
                        <a href="single.html">
                            <img alt="" src="images/msn-work-52.jpg"/>
                        </a>
                    </div>
                    <div class='content'>
                        <h3><a href="single.html">You can't do it unless you can imagine it.</a></h3>

                        <p class='info'>
                            <span>December 15, 2014</span>/<span>by
              <a href="#">admin</a>
            </span>
                            /
            <span>
              In
              <a href="#">design</a>
            </span>
                            /
            <span>
              <a href="#">4 commetns</a>
            </span>
                        </p>

                    </div>
                </div>
                <div class='post'>
                    <div class="image">
                        <a href="single.html">
                            <img alt="" src="images/msn-work-50.jpg"/>
                        </a>
                    </div>
                    <div class='content'>
                        <h3><a href="single.html">Nature is the art of God.</a></h3>

                        <p class='info'>
                            <span>December 15, 2014</span>
                            /
            <span>
              by
              <a href="#">admin</a>
            </span>
                            /
            <span>
              In
              <a href="#">design</a>
            </span>
                            /
            <span>
              <a href="#">4 commetns</a>
            </span>
                        </p>

                    </div>
                </div>
                <div class='post'>
                    <div class="image">
                        <a href="single.html">
                            <img alt="" src="images/msn-work-47.jpg"/>
                        </a>
                    </div>
                    <div class='content'>
                        <h3><a href="single.html">You can observe a lot by just watching.</a></h3>

                        <p class='info'>
                            <span>December 15, 2014</span>
                            /
            <span>
              by
              <a href="#">admin</a>
            </span>
                            /
            <span>
              In
              <a href="#">design</a>
            </span>
                            /
            <span>
              <a href="#">4 commetns</a>
            </span>
                        </p>

                    </div>
                </div>
                <div class='post'>
                    <div class="image">
                        <a href="single.html">
                            <img alt="" src="images/msn-work-28.jpg"/>
                        </a>
                    </div>
                    <div class='content'>
                        <h3><a href="single.html">Your artwork here.</a></h3>

                        <p class='info'>
                            <span>December 15, 2014</span>
                            /
            <span>
              by
              <a href="#">admin</a>
            </span>
                            /
            <span>
              In
              <a href="#">design</a>
            </span>
                            /
            <span>
              <a href="#">4 commetns</a>
            </span>
                        </p>

                    </div>
                </div>
                <div class='post'>
                    <div class="image">
                        <a href="single.html">
                            <img alt="" src="images/people.jpg"/>
                        </a>
                    </div>
                    <div class='content'>
                        <h3><a href="single.html">Quality is pride of workmanship.</a></h3>

                        <p class='info'>
                            <span>December 15, 2014</span>
                            /
            <span>
              by
              <a href="#">admin</a>
            </span>
                            /
            <span>
              In
              <a href="#">design</a>
            </span>
                            /
            <span>
              <a href="#">4 commetns</a>
            </span>
                        </p>

                    </div>
                </div>
                <div class='pager' data-connectors='1'>
                    <a class='older' href='#'>
                        Older Entries
                    </a>
                    <a class='newer' href='#'>
                        Newer Entries
                    </a>
                </div>

            </div>
        </div>

        <div class="four spacing"></div>
        <div class="two spacing"></div>
    </div>
</div>