<div id="work" class="box">
    <div class="container">
        <div class="header">
            <div class="special-title">
                <nav>
                    <h2>
                        <a href="/#clients">
                            <img class="img1" src="images/clientes-A.png"/>
                            <img class="img2" src="images/clientes-B.png"/>
                        </a>
                    </h2>
                </nav>
            </div>
            <div class="desc invisible">
                <h2>Nos gusta colaborar con nuestros clientes y crecer juntos. Trabajar junto a ellos para encontrar las
                    mejores soluciones.</h2>
            </div>
        </div>
        <div class="content invisible">
            <div class="four spacing"></div>
            <div class="row">
                <div class="large-12 columns">
                    <div class="section-title">
                        <h2><span>Clientes</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 large-centered columns">
                    <div class="section-intro">
                        Estos son algunos de los clientes con los que hemos trabajado y que confían en nosotros. Haz
                        click sobre ellos para visitar su
                        web y conocerles más a fondo.
                    </div>
                </div>
            </div>
            <div class="three spacing"></div>
            <div class="row">
                <div class="large-4 columns">
                    <div class="client">
                        <a href="http://www.biko2.com" target="_blank" title="biko2">
                            <img src="images/biko1.png" alt="">
                            <img class='colored' src="images/biko2.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="large-4 columns">
                    <div class="client">
                        <a href="http://www.ceroyuno.es" target="_blank" title="cero&uno">
                            <img src="images/ceroyuno1.png" alt="">
                            <img class='colored' src="images/ceroyuno2.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="large-4 columns">
                    <div class="client">
                        <a href="http://www.dropcoin.es" target="_blank" title="Dropcoin">
                            <img src="images/dropcoin1.png" alt="">
                            <img class='colored' src="images/dropcoin2.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="large-4 columns">
                    <div class="client">
                        <a href="http://www.km77.com" target="_blank" title="km77.com">
                            <img src="images/km771.png" alt="">
                            <img class='colored' src="images/km772.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="large-4 columns">
                    <div class="client">
                        <a href="http://www.labolsadelaliga.com" target="_blank" title="labolsadelaliga">
                            <img src="images/lbl1.png" alt="">
                            <img class='colored' src="images/lbl2.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="large-4 columns">
                    <div class="client">
                        <a href="http://motitworld.com" target="_blank" title="Motit">
                            <img src="images/motit1.png" alt="">
                            <img class='colored' src="images/motit2.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="four spacing"></div>
            <div class="four spacing"></div>

            {% include "lets_talk.twig" %}
        </div>
    </div>
</div>