<div id="contact">
    <h2 class="handle"><a href="">Contacto</a></h2>

    <div class="contact-info hide">
        <div class="four spacing"></div>
        <div class="row ">
            <div class="large-7 columns">
                <div class='form'>
                    <form id='contact_form' class='dark' method='POST'>
                        <p id='thanks' class='hide'>
                            Gracias por ponerte en contacto con nosotros. Te responderemos en breve.
                        </p>
                        <input class='required' name='name' placeholder='NOMBRE' type='text'>
                        <input class='required email' name='email' placeholder='EMAIL' type='text'>
                        <input class='required' name='_subject' placeholder='ASUNTO' type='text'>
                        <textarea class='required' name='message' placeholder='MENSAJE'></textarea>

                        <div class='spacing'></div>
                        <input class='button white small' type='submit' value="Enviar">
                    </form>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="contact-details">
                    <h4>Oficina:</h4>
                    <p>Polígono Mutilva Calle E, Nº5 – 1ºC, Mútilva Navarra</p>

                    <h4>Email:</h4>
                    <p>contacto@540deg.com</p>

                    <h4>Síguenos:</h4>
                    <ul>
                        <li><a href="https://twitter.com/540info" target="_blank"><i class='fa fa-twitter'></i></a></li>
                        <li><a href="https://www.facebook.com/540degrees" target="_blank"><i class='fa fa-facebook'></i></a></li>
                        <li><a href="https://www.linkedin.com/company/540-degrees" target="_blank"><i class='fa fa-linkedin'></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="two spacing"></div>
    </div>
</div>