<div class="full centered-text grey">
    <div class="four spacing"></div>
    <div class="two spacing"></div>
    <h1>¿Tienes un proyecto en mente?</h1>
    <div class="spacing"></div>
    <a href="" class="button let-us-talk">¡Hablemos!</a>
    <div class="four spacing"></div>
    <div class="two spacing"></div>
</div>