<div id="service" class="box">
    <div class="header">
        <div class="special-title">
            <nav>
                <h2 class='bottom'>
                    <a href="#">
                        <img class="img1" src="images/servicios-A.png"/>
                        <img class="img2" src="images/servicios-B.png"/>
                    </a>
                </h2>
            </nav>
        </div>
        <div class="desc invisible">
            <h2>
                540 como un partner tecnológico especializado, ofrecemos servicios de consultoría y desarrollo
                profesional para ayudarte a minimizar los riesgos asociados a construir una nueva idea.
            </h2>
        </div>
    </div>
    <div class="content invisible">
        <div class="four spacing"></div>
        <div class="row">
            <div class="large-12 columns">
                <div class="section-title">
                    <h2><span>Servicios</span></h2>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class="main-services no-overflow">
                <div class='large-6 columns'>
                    <div class='mod icon-text'>
                        <div class='icon-text-advanced'>
                            <div class='wrapper'>
                                <div class='content'>
                                    <i class='fa fa-laptop'></i>
                                </div>
                            </div>
                            <h3>Web</h3>

                            <p>Construimos aplicaciones web sólidas. Afrontamos toda clase de retos: landing-pages,
                                e-commerce y proyectos web complejos. </p>

                            <div class="spacing"></div>
                        </div>
                    </div>
                </div>
                <div class='large-6 columns'>
                    <div class='mod icon-text'>
                        <div class='icon-text-advanced'>
                            <div class='wrapper'>
                                <div class='content'>
                                    <i class='fa fa-mobile'></i>
                                </div>
                            </div>
                            <h3>Móvil</h3>

                            <p>Desarrollo y consultoría de aplicaciones móviles nativas e híbridas persiguiendo el mayor
                                rendimiento y la mejor experiencia de usuario. </p>

                            <div class="spacing"></div>
                        </div>
                    </div>
                </div>
                <div class='large-6 columns'>
                    <div class='mod icon-text'>
                        <div class='icon-text-advanced'>
                            <div class='wrapper'>
                                <div class='content'>
                                    <i class='fa fa-magic'></i>
                                </div>
                            </div>
                            <h3>API</h3>

                            <p>Te ayudamos a definir e implementar el API de tu aplicación para exponer tus datos y
                                servicios. </p>

                            <div class="spacing"></div>
                        </div>
                    </div>
                </div>
                <div class='large-6 columns'>
                    <div class='mod icon-text'>
                        <div class='icon-text-advanced'>
                            <div class='wrapper'>
                                <div class='content'>
                                    <i class='fa fa-cogs'></i>
                                </div>
                            </div>
                            <h3>Full stack development</h3>

                            <p>Da igual web o móvil, nuestro equipo cubre todo el rango de tecnologías para entregar
                                soluciones completas de principio a fin. </p>
                        </div>
                    </div>
                </div>
                <div class='large-6 columns'>
                    <div class='mod icon-text'>
                        <div class='icon-text-advanced'>
                            <div class='wrapper'>
                                <div class='content'>
                                    <i class='fa fa-plug'></i>
                                </div>
                            </div>
                            <h3>Integraciones de terceros</h3>

                            <p>Somos expertos en integrar tus aplicaciones web y móvil con servicios y APIs de
                                terceros. </p>

                            <div class="spacing"></div>
                        </div>
                    </div>
                </div>
                <div class='large-6 columns'>
                    <div class='mod icon-text'>
                        <div class='icon-text-advanced'>
                            <div class='wrapper'>
                                <div class='content'>
                                    <i class='fa fa-graduation-cap'></i>
                                </div>
                            </div>
                            <h3>Consultoría</h3>

                            <p>Asesoría, apoyo y ayuda en la definición de soluciones para tus nuevas ideas. </p>

                            <div class="spacing"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="four spacing"></div>
        <div class="row">
            <div class="large-12 columns">
                <div class="section-title">
                    <h2><span>Tecnología</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-8 large-centered columns">
                <div class="section-intro">
                    Estas son las principales herramientas y plataformas que empleamos para desarrollar nuestro trabajo.
                </div>
            </div>
        </div>
        <div class="three spacing"></div>
        <div class='row'>
            <div class='large-12 columns'>
                <div class='technologies'>
                    <div class="technology">
                        <a target="_blank" href="http://symfony.com">
                            <img alt="Symfony" src="images/symfony1.png"/>
                            <img class="colored" alt="Symfony" src="images/symfony2.png"/>
                        </a>
                    </div>
                    <div class="technology">
                        <a target="_blank" href="http://www.android.com">
                            <img alt="Android" src="images/android1.png"/>
                            <img class="colored" alt="Android" src="images/android2.png"/>
                        </a>
                    </div>
                    <div class="technology">
                        <a target="_blank" href="http://www.apple.com/es/ios/">
                            <img alt="iOS" src="images/ios1.png"/>
                            <img class="colored" alt="iOS" src="images/ios2.png"/>
                        </a>
                    </div>
                    <div class="technology">
                        <a target="_blank" href="http://ionicframework.com">
                            <img alt="ionic" src="images/ionic1.png"/>
                            <img class="colored" alt="ionic" src="images/ionic2.png"/>
                        </a>
                    </div>
                    <div class="technology">
                        <a target="_blank" href="http://getbootstrap.com/">
                            <img alt="Bootstrap" src="images/bootstrap1.png"/>
                            <img class="colored" alt="Bootstrap" src="images/bootstrap2.png"/>
                        </a>
                    </div>
                    <div class="technology">
                        <a target="_blank" href="https://angularjs.org/">
                            <img alt="AngularJS" src="images/angular1.png"/>
                            <img class="colored" alt="AngularJS" src="images/angular2.png"/>
                        </a>
                    </div>
                    <div class="technology">
                        <a target="_blank" href="https://nodejs.org">
                            <img alt="Node.js" src="images/node1.png"/>
                            <img class="colored" alt="Node.js" src="images/node2.png"/>
                        </a>
                    </div>
                    <div class="technology">
                        <a target="_blank" href="http://redis.io">
                            <img alt="Redis" src="images/redis1.png"/>
                            <img class="colored" alt="Redis" src="images/redis2.png"/>
                        </a>
                    </div>
                    <div class="technology">
                        <a target="_blank" href="http://sphinxsearch.com">
                            <img alt="Sphinx" src="images/sphinx1.png"/>
                            <img class="colored" alt="Sphinx" src="images/sphinx2.png"/>
                        </a>
                    </div>
                    <div class="technology">
                        <a target="_blank" href="http://www.haproxy.org">
                            <img alt="HAProxy" src="images/haproxy1.png"/>
                            <img class="colored" alt="HAProxy" src="images/haproxy2.png"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="four spacing"></div>

        {% include "lets_talk.twig" %}
    </div>
</div>