<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="{{ description }}" />
    <meta name="author" content="{{ author }}" />
    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>
    <div id="content">
        {% block body %}{% endblock %}
    </div>
</body>
</html>