.button{
    background-color:#f8d100;
    color:#333333;
    font-weight:bold;
}
button:hover, button:focus, .button:hover, .button:focus{
    background-color:#b9ac30;
    color:#333333;
}
.contact-details ul li a:hover{
    color:#f8d100;
}
#contact_form #thanks{
    color:#faed37;
}
.logo .logo-image {
    background-color: #333333;
}
#contact h2, #contact h4, #contact input {
    font-family: 'Ubuntu', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
#contact h2 a {
    font-weight: 300;
}
#contact h2 a:hover {
    color: #f8d100;
}
#contact_form input[name='name'] {
    margin-top:0;
}
